.collab__section {
    top: 5rem;
    background-color: inherit;
    min-height: 110vh;

}

@media screen and (max-width: 600px) {
    .collab__section {
        top: 8rem;
    }
    
}

@media screen and (max-width: 700px) {
    .collab__section {
        font-size: 0.8rem;
    }
    
}

@media screen and (min-width: 1920px) {
    .collab__section {
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and (min-width: 2560px) {
    .collab__section {
        max-width: 75%;
    }
    
}
