.collab__section {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-right: 15vw;
    max-height: 80vh;
    gap: 15vw;

}

@media screen and (max-width: 700px) {
    .collab__section {
        display: flex;
        margin-top: 5rem;
        margin-left: 5vw;
        margin-right: 5vw;
        max-height: 80vh;
        gap: 5vw;
        font-size: 0.8rem;
    }
    
}

@media screen and (min-width: 1440px) {
    .collab__section {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
}
