.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
  flex-wrap: wrap;
  top: 10vh;
  width: 100%;

  background-color: white;
  z-index: 1001;
  padding: 0 5vw;
  padding-bottom: 5vh;
}

.sidebar {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: inherit;
  z-index: 1000;
}

@media screen and (max-width: 960px) {
  .list {
    padding: 1vh 10vw;
    padding-bottom: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .list {
    padding: 1vh 5vw;
    padding-bottom: 2vh;
  }
}

@media screen and (min-width: 2560px) {
  .list {
    max-width: 79%;
  }
}

.list li {
  padding: 0.1rem 0.4rem;
  position: relative;
  border: 0px solid #ccc;
  cursor: pointer;
  border-radius: 20px;
  text-wrap: nowrap;
  transition: all 0.3s ease;
}

.list a::before {
  content: "|";
  margin-right: 0.5rem;
}

.list li:hover {
  transition: all 0.3s;
  color: white;
}

.list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: rgb(8, 43, 29);
  transition: width 0.3s ease;
  z-index: -1;
}

.list li:hover::before {
  width: 100%;
  padding: 0.1rem;
}

.link {
  color: inherit;
  text-decoration: none;
  list-style: none;
  padding: 2rem 2rem;
}

.link-left {
  grid-column-start: 0;
  grid-column-end: 1;
  text-align: left;
}

.link-right {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
}


.link:hover {
  text-decoration: underline;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;
  grid-template-rows: repeat(3, 25%);
  row-gap: 5vh;
  font-size: 1.2rem;
}
.links__container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 5vh 0;
}

@media screen and (min-width: 2000px) {
  .links {
    padding: 10vh 10vw;
  }
  
}

@media screen and (max-width: 700px) {
  .links {
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
}
.container {
  padding: 2rem 5rem;
  margin-top: 20vh;
  scrollbar-width: none;
  z-index: 0;
  background-color: inherit;
}

@media screen and (max-width: 960px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.container p {
  margin-top: 1rem;
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  width: 25px; /* Set width and height to make it a circle */
  height: 25px;
  border-radius: 50%; /* Make it a circle */
  border: 2px solid rgb(10, 22, 21); /* White border */
  background: none;
  font-size: 16px; /* Font size */
  position: relative; /* Required for the pseudo-element */
  overflow: visible; /* Hide the overflowing text */
  cursor: pointer; /* Change cursor on hover */

  /* Center text content */
  display: flex;
  justify-content: center;
  align-items: center;
  --webkit-font-smoothing: antialiased;
}

.button__span {
  position: absolute; /* Position text absolutely */
  transform: translate(-50%, -50%); /* Center text */
  top: 50%;
  left: 50%;
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: 1000;
  color: black;
}

.button:hover {
  background: rgb(10, 22, 21);
  color: white;
  border-radius: 25px;
  padding: 0.6rem 3rem;
  transition: all 0.3s;
}

.button__span:hover {
  color: white;
}
.container::-webkit-scrollbar {
  display: none;
}

.container h1 {
  font-size: x-large;
}

.container h2 {
  font-size: large;
}

.container h3 {
  font-size: medium;
}

.container h4 {
  font-size: small;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3vh;
  background-color: #0a1615;
  color: white;

  bottom: 0;
  width: 100%;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: rgb(10, 22, 21);
  border: none;
}
.container__blog {
  margin-top: 15vh;
  scrollbar-width: none;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  background-color: inherit;
  min-height: 90vh;
}

.container__blog ul {
  padding-left: 2rem;
}

.container__blog::-webkit-scrollbar {
  display: none;
}

.blog__preview {
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  width: fit-content;
  text-align: justify;
  margin: 0 auto;
}

.blog__post {
  margin-bottom: 2rem;
  line-height: 1.8;
}

.blog__post > * > p {
  padding: 1rem 0;
  text-align: justify;
}
.blog__post > p {
  padding: 1rem 0;
  text-align: justify;
}
@media screen and (min-width: 1100px) {
  .blog__post {
    max-width: 60%;
  }
  .blog__preview {
    font-size: 0.9rem;
  }
  .more__stories {
    justify-content: center;
    padding: 0 4rem;
  }
  .more__stories__main {
    max-width: 60%;
  }
  .modal__container {
    max-width: 60%;
  }
}
@media screen and (max-width: 1099px) {
  .blog__preview {
    font-size: 0.9rem;
  }
  .blog__post {
    max-width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .blog__preview {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .more__stories > * {
    font-size: 0.8rem;
  }
  .blog__post {
    max-width: 80%;
    font-size: 0.9rem;
  }

  .more__stories {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.blog__preview:hover {
  background-color: rgb(240, 240, 240);
  text-decoration: underline;
}

.blog__header {
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-style: italic;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.more__stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.more__stories__main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}

.more__stories::after {
  content: "";
  flex: 1;
  min-width: 50%;
  visibility: hidden;
}

.more__stories > .blog__preview {
  margin: 0 auto;
  flex: 1;
  min-width: 50%;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1111;
}

.modal__container {
  background-color: white;
  color: black;
  width: 90%;
  max-height: 80vh;
  padding: 1rem 5rem;
  border-radius: 15px;
  cursor: default;  
  font-size: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .modal__container {
    padding: 1rem 2rem;
  }
  
}

.modal__container ol ol {
  padding-left: 2rem;
}

.modal__container ol ol ol {
  padding-left: 3rem;
}


.modal__button {
  background-color: transparent;
  font-size: 0.6rem;
  border: none;
  cursor: pointer;
  color: white;
  text-align: justify;
}

.modal__close {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  font-smooth: antialiased;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.contact__link__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact__link__text {
  padding-left: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .contact__link__text {
    font-size: 1.2rem;
  }
}