.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
  flex-wrap: wrap;
  top: 10vh;

  background-color: inherit;
  z-index: 1001;
  padding: 0 5vw;
}

.sidebar {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: inherit;
  z-index: 1000;
}

@media screen and (max-width: 960px) {
  .list {
    padding: 5vh 5vw;
    padding-bottom: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .list {
    padding: 5vh 5vw;
    padding-bottom: 2vh;
  }
}

.list a {
  margin-bottom: 0.5rem;
  padding: 0.2rem;

  border: 0px solid #ccc;
  cursor: pointer;
  border-radius: 20px;
  text-wrap: nowrap;
}

.list li::before {
  content: "|";
  margin-right: 1rem;
  margin-left: 1rem;
}
.list li:first-child::before {
  content: "";
}

.list a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

.link {
  color: inherit;
  text-decoration: none;
  list-style: none;
  padding: 2rem 2rem;
}

.link-left {
  margin-left: 15vw;
}

.link-right {
  margin-right: 15vw;
}

.link:hover {
  text-decoration: underline;
  transform: translate(0.5rem);
  transition: all 0.2s;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 5vw;
  grid-template-rows: repeat(3, 33%);
  font-size: 1.2rem;
}
.links__container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  padding: 10vh 0;
  min-height: 60vh;
}

@media screen and (max-width: 700px) {
  .links {
    font-size: 0.8rem;
  }
}
.container {
  padding: 2rem 5rem;
  margin-top: 20vh;
  scrollbar-width: none;
  overflow-y: scroll;
  z-index: 0;
  background-color: inherit;
}

@media screen and (max-width: 960px) {
  .container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.container p {
  margin-top: 1rem;
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  width: 25px; /* Set width and height to make it a circle */
  height: 25px;
  border-radius: 50%; /* Make it a circle */
  border: 2px solid rgb(10, 22, 21); /* White border */
  background: none;
  font-size: 16px; /* Font size */
  position: relative; /* Required for the pseudo-element */
  overflow: visible; /* Hide the overflowing text */
  cursor: pointer; /* Change cursor on hover */

  /* Center text content */
  display: flex;
  justify-content: center;
  align-items: center;
  --webkit-font-smoothing: antialiased;
}

.button__span {
  position: absolute; /* Position text absolutely */
  transform: translate(-50%, -50%); /* Center text */
  top: 50%;
  left: 50%;
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: 1000;
}

.button:hover {
  background: #0a1615;
  color: white;
  border-radius: 25px;
  padding: 0.6rem 3rem;
  transition: all 0.3s;
}
.container::-webkit-scrollbar {
  display: none;
}

.container h1 {
  font-size: x-large;
}

.container h2 {
  font-size: large;
}

.container h3 {
  font-size: medium;
}

.container h4 {
  font-size: small;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: 3rem;
  position: relative;

  bottom: 0;
  width: 100%;
}

.separator {
  height: 2px;
  width: 100%;
  background-color: #0a1615;
  border: none;
}
