

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: rgb(255, 255, 255);
  line-height: 1.8;
  --webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 1.2rem;
    line-height: 2;
  }
  
}

  

a {
  color: inherit;
  text-decoration: none;
}
