.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  padding: 1rem 1rem; /* Adjust padding as needed */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: inherit;
  color: rgb(11, 58, 40);
  z-index: 1000;
}



@media screen and (min-width: 2000px) {
  .navbar {
    padding: 1rem 10rem; /* Adjust padding as needed */
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem 0;
    text-wrap: nowrap;
  }
  .navbar {
    display: inline;
  }
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 560px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar ul {
    margin: 0 0.3rem;
  }
}

@media screen and (max-width: 450px) {
  .navbar ul {
    text-wrap: balance;
  }

  .link-left li {
    padding-left: 0rem;
  }
  
}

@media screen and (min-width: 450px) {
  .link-left {
    padding-left: 1rem;

  }
  
}

@media screen and (max-width: 375px) {
  .navbar ul {
  }

  .link-left {
    text-wrap:balance;
  }

  .logo {
  }
  
}
.link {
  text-decoration: none;
  text-wrap: nowrap;
}
.link :hover {
  text-decoration: underline;
}

.link-left {
  margin-right: auto;
}

.link-left::before {
  content: "|";
  margin: 0 0.5rem;
  color: rgb(11, 58, 40);
}

.link::after {
  content: "|";
  margin: 0 0.5rem;
  color: rgb(11, 58, 40);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
